/* フロント&エディター共通 */
.content-area {
    @mixin clearfix;
    max-width: var(--content-width);
}

/* フロント専用 */
@media (--sm-max) {
    .site-header {
        padding: 1rem;
    }
}

/* エディター専用 */
body.block-editor-page .editor-styles-wrapper {
    background: #f8f9ff;
}